<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content></ion-content>
<router-outlet></router-outlet>
<div class="area" style="height: 50px; background-color: white; 
position: sticky; bottom: 0px;">
<ion-tabs>

 <ion-tab-bar slot="bottom">
   
   <ion-tab-button  href="/">
     <ion-icon name="flash"></ion-icon>
     <ion-label type="button">
       Tab One
     </ion-label>
   </ion-tab-button>

   <ion-tab-button routerLink="/tab2">
     <ion-icon name="apps"></ion-icon>
      <ion-label type="button">
        Tab Two
      </ion-label>
   </ion-tab-button>

   <ion-tab-button href="/tab3">
     <ion-icon name="send"></ion-icon>
     <ion-label type="button">Tab Three</ion-label>
   </ion-tab-button>

   <ion-tab-button  href="/nice">
     <ion-icon name="star"></ion-icon>
     <ion-label type="button">
       Nice
     </ion-label>
   </ion-tab-button>
 </ion-tab-bar>

</ion-tabs>

</div>