
<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Polyonic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>System</ion-card-subtitle>
      <ion-card-title>Data</ion-card-title>
    </ion-card-header>
    <ion-card-content>
       All of the Node.js APIs are available in this renderer process. 
      <span *ngIf="electron.remote && electron.remote.process && electron.isElectronApp">
        <pre>
          Node v{{electron.remote.process.versions.node}}
          Chromium v{{electron.remote.process.versions.chrome}}
          Electron v{{electron.remote.process.versions.electron}}
        </pre>
      </span>
      We are using PouchDB for our Database<pre>{{dbInfo | json}}</pre>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
    </ion-card-header>

    <ion-card-content>
      <br><br><br>
    </ion-card-content>

  </ion-card>
</ion-content>

<router-outlet></router-outlet>
<div class="area" style="height: 50px; background-color: white; 
position: sticky; bottom: 0px;">
<ion-tabs>

 <ion-tab-bar slot="bottom">
   
   <ion-tab-button  href="/">
     <ion-icon name="flash"></ion-icon>
     <ion-label type="button">
       Tab One
     </ion-label>
   </ion-tab-button>

   <ion-tab-button routerLink="/tab2">
     <ion-icon name="apps"></ion-icon>
      <ion-label type="button">
        Tab Two
      </ion-label>
   </ion-tab-button>

   <ion-tab-button href="/tab3">
     <ion-icon name="send"></ion-icon>
     <ion-label type="button">Tab Three</ion-label>
   </ion-tab-button>

   <ion-tab-button  href="/nice">
     <ion-icon name="star"></ion-icon>
     <ion-label type="button">
       Nice
     </ion-label>
   </ion-tab-button>
 </ion-tab-bar>

</ion-tabs>

</div>