<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content></ion-content>
<router-outlet></router-outlet>
<div class="area" style="height: 50px; background-color: white; 
position: sticky; bottom: 0px;">
<ion-tabs>

 <ion-tab-bar slot="bottom">
   
   <ion-tab-button  routerLink="/">
     <ion-icon name="flash"></ion-icon>
     <ion-label type="button">
       Tab One
     </ion-label>
   </ion-tab-button>

   <ion-tab-button tab="tab2">
     <ion-icon name="apps"></ion-icon>
     <ion-label type="button" routerLink="/tab2">
       Tab Two
     </ion-label>
   </ion-tab-button>

   <ion-tab-button tab="tab3">
     <ion-icon name="send"></ion-icon>
     <ion-label type="button" routerLink="/tab3">Tab Three</ion-label>
   </ion-tab-button>

   <ion-tab-button  routerLink="/nice">
     <ion-icon name="star"></ion-icon>
     <ion-label type="button">
       Nice
     </ion-label>
   </ion-tab-button>
 </ion-tab-bar>

</ion-tabs>

</div>